# Information Visualization Project - Part 1

The dataset the group will dive into describes different kinds of weather phenomena <br>
in the United States. It can be found through the following [LINK](https://openml.org/search?type=data&id=43380) 
accessing the OpenML website.

## A brief description

The US Weather Dataset (2016-2020) compiles the climate data from 2 thousand airports<br>
Throughout the country of the United States, it covers 49 states and all the data <br>
streches from January 2016 up to December 2020.

# Libraries Imports

In [2]:
# Basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Vega Altair
import altair as alt

# Download Data
import openml

## Downloading data

In [3]:
dataset = openml.datasets.get_dataset(43380)

In [5]:
dataset

OpenML Dataset
==============
Name.........: US-Weather-Events-(2016---2020)
Version......: 1
Format.......: arff
Upload Date..: 2022-03-23 12:51:42
Licence......: CC BY-NC-SA 4.0
Download URL.: https://api.openml.org/data/v1/download/22102205/US-Weather-Events-(2016---2020).arff
OpenML URL...: https://www.openml.org/d/43380
# of features: None

In [6]:
X, y, _, _ = dataset.get_data(dataset_format="dataframe")

In [7]:
X.head()

  EventId  Type Severity  ...    County State  ZipCode
0     W-1  Snow    Light  ...  Saguache    CO  81149.0
1     W-2  Snow    Light  ...  Saguache    CO  81149.0
2     W-3  Snow    Light  ...  Saguache    CO  81149.0
3     W-4  Snow    Light  ...  Saguache    CO  81149.0
4     W-5  Snow    Light  ...  Saguache    CO  81149.0

[5 rows x 14 columns]

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7479165 entries, 0 to 7479164
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   EventId            object
 1   Type               object
 2   Severity           object
 3   StartTime(UTC)     object
 4   EndTime(UTC)       object
 5   Precipitation(in)  float64
 6   TimeZone           object
 7   AirportCode        object
 8   LocationLat        float64
 9   LocationLng        float64
 10  City               object
 11  County             object
 12  State              object
 13  ZipCode            float64
dtypes: float64(4), object(10)
memory usage: 798.9+ MB

## Data Exploration